{% extends 'base.html' %}
{% load bootstrap3 %}
    {% block title %}Upload{% endblock %}
    {% block content %}
        <div class="container">
            <h1>Upload</h1>
            <form enctype="multipart/form-data" method="POST" action=".">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-default btn-info" value="Upload"/>
            </form>
        </div>
    <script>
        $( document ).ready(function() {
            $(".btn-default").click(function(){
                $(".btn-default").val('Uploading...');
            });
        });
    </script>
    {% endblock %}

