

{% extends 'base.html' %}

{% block content %}
<style>
    .video{
        height:300px;
        width:300px;
        border-style: solid;
        border-color: blue;
    }
</style>

<div class="topnav-centered">
    <form class="form-inline">
    <input class="form-control mr-sm-2 start" type="search" placeholder="start" aria-label="Search">
    <input class="form-control mr-sm-2 end" type="search" placeholder="end" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><font size="4" color= #abedd8>Search</font></button>
    </form>
</div>

<div class="pagination">
    <span class="step-links">
        {% if allVideos.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ allVideos.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ allVideos.number }} of {{ allVideos.paginator.num_pages }}.
        </span>

        {% if allVideos.has_next %}
            <a href="?page={{ allVideos.next_page_number }}">next</a>
            <a href="?page={{ allVideos.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<br><br>
<tr>
{% for videofile in pageVideos %}
    <td>
        {% for row in videofile %}
            <a href='/{{ row.id }}'>
                <video poster="{{ MEDIA_URL }}{{ row.routemaps }}" class="video" controls>
                    <!-- <source src='{{ MEDIA_URL }}{{ videofile.videofile }}' type='video/mp4'> -->
                </video>
            </a>
        {% endfor %}
    </td>
    <br><br>
{% endfor %}
</tr>
<script>
    $(document).ready(function() {
        $(".btn-outline-success").click(function(event){
        event.preventDefault();
        var start=$(".start").val();
        var end=$(".end").val();
          $.ajax({
            type:"GET",
            data:{
                
                "csrfmiddlewaretoken": "{{ csrf_token }}"
            },
            url: "http://10.4.16.53:8080/allvideos?start="+start+"&end="+end,
            error: {"message": "error"},
            success: function(response, status, jqXHR) {
                  console.log("sucess");
                },
            dataType: "json",
          });
        });
      });
</script>



{% endblock %}