{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
{% comment %} <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> {% endcomment %}
{% comment %} <script src="https://api.html5media.info/1.1.5/ht`ml5media.min.js"></script> {% endcomment %}
<style>
   .videoContainer{
    margin-left:10px;
    height:600px;
    width:600px;
   }
   #video{
    margin-top:20px;
    margin-left:2px;
    position:relative;
    padding:5px;
    height:600px;
    width:600px;
    border-style: solid;
    border-color: blue;
  }
  #map {
    position:absolute;
    border-style:solid;
    border-color:green;
    top:90px;
    right:50px;
    height: 605px;
    width: 600px;
  }
  #mySlider{
    width:50%;
  }
  .ui-content{
    position:absolute;
    top:700px;
    left:10px;
    width:50%;
  }
  #mapsubmit{
    display:none;
  }
  .commentContainer{
    position:absolute;
    top: 900px;
    left:20px;
   }
   .displaycomments{
     position:absolute;
     top:1050px;
     left:40px;
   }
</style>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/hot-sneaks/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-2.1.3.js"></script>
	<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
       <script>
        $(document).ready(function() {
        $( "#mySlider" ).slider({
          range: true,
          min: {{ startTime }},
          max: {{ endTime }},
          values: [{{ startTime }} , {{ endTime }} ],
          slide: function( event, ui ) {
            $( "#price" ).val( "sec:" + ui.values[ 0 ] + " - sec:" + ui.values[ 1 ] );
         }
      });
          
      $( "#price" ).val( "sec:" + $( "#mySlider" ).slider( "values", 0 ) +
              " - sec:" + $( "#mySlider" ).slider( "values", 1 ) );
      
      });
      function myFunction(){
        x=document.getElementById("price").value;
        document.getElementById("kkk").value = document.getElementById("price").value;
      }
    </script>


<div class="container videoContainer">
  <a href='/{{ videofile.id }}/'></a>
  <video id="video" loop controls='true'></video>
</div>

<div id="map"></div>

<div data-role="main" class="ui-content">
  <form method="POST" action="./">
      {% csrf_token %}
      <p>
        <label for="price" style="font-family:Verdana;">Time Range:</label>
        <input type="text" id="price" style="border:0; color:#fa4b2a; font-weight:bold;">
        <input type="hidden" id="kkk" name="timerange">
      </p>
     <div id="mySlider"></div>
      <input type="submit" data-inline="true" class="btn btn-info" value="Download Clip" onclick="myFunction()">
  </form>
</div>


<div class="container commentContainer">
  <form>
    {% csrf_token %}
    <div class="form-group">
      <label for="comment">Reply:</label>
      <input type="text" class="form-control" id="comment">
    </div>
    <input type="submit" class="btn btn-info" value="add comment" id="commentbtn">
  </form>
</div>

<div class="container displaycomments">
  <h3>Comments:</h3>
  <br>
  {% for comment in comments %}
  <div class="col-md-12 col-md-offset-0">
    <div class="forumText forumMax"><p>{{comment.comment}}</p></div><p class="forumTagline">
    <span class="forumName">{{comment.user}} <small>()</small></span> - <span class="text-muted">{{comment.commented_on}}</span>
    {% if comment.user == user %}
      <button type="button" class="btn btn-outline-danger" id="{{ comment.id }}">Delete</button>
    {% endif %}
    <hr>
  </div>
  {% endfor %}
</div>

<input type="submit" id="mapsubmit">

<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script>
        if(Hls.isSupported()) {
          var video = document.getElementById('video');
          var hls = new Hls();
          hls.loadSource('{{ MEDIA_URL }}data/{{id}}/output.m3u8');
          hls.attachMedia(video);
          hls.on(Hls.Events.MANIFEST_PARSED,function() {
            video.play();
        });
       }
        else if (video.canPlayType('application/vnd.apple.mpegurl')) {
          video.src = '{{ MEDIA_URL }}data/{{id}}/output.m3u8';
          video.addEventListener('canplay',function() {
            video.play();
          });
        }
        /*function initMap() {
          var directionsService = new google.maps.DirectionsService;
          var directionsDisplay = new google.maps.DirectionsRenderer;
          map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: {lat: 17.45, lng: 78.35}
          });
          google.maps.event.addListener(map, 'click', function(event) {
            var lat = event.latLng.lat();
            var lng = event.latLng.lng();
            console.log(lat,lng);
          });
          directionsDisplay.setMap(map);
          document.getElementById('mapsubmit').addEventListener('click', function() {
            calculateAndDisplayRoute(directionsService, directionsDisplay);
          });
        }*/
        function initMap() {
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: {lat: 17.45, lng: 78.35},
            mapTypeId: 'terrain'
          });

          flightPlanCoordinates = [];
          
          document.getElementById('mapsubmit').addEventListener('click', function() {
            var currentTime = Math.floor(video.currentTime);
            var gpsPts = {{gpsPts}};
            flightPlanCoordinates = [{'lat':gpsPts[0][0],'lng':gpsPts[0][1]}];
            var midPts = gpsPts.slice(1,currentTime)
            for(var i=0;i<midPts.length;i+=1){
              flightPlanCoordinates.push({'lat':midPts[i][0],'lng':midPts[i][1]});
            }
            flightPlanCoordinates.push({'lat':gpsPts[currentTime][0],'lng':gpsPts[currentTime][1]});
            var flightPath = new google.maps.Polyline({
            path: flightPlanCoordinates,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
          });
          flightPath.setMap(map);
        });  
      }


        var log_time = function(){
        	window.setTimeout(log_time,1000)
          if(!video.paused){
            document.getElementById('mapsubmit').click();
            $.ajax({
            type:"POST",
            data: {
                  'time': video.currentTime,
                  'id':{{id}}, 
                  "csrfmiddlewaretoken": "{{ csrf_token }}"
            },
            url: 'http://10.4.16.53:8080/location/',
            error: {"message": "error"},
            success: function(response, status, jqXHR) {
                      },
              dataType: "json",
          });
        }
	    };
	    log_time();
       
      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var currentTime = Math.floor(video.currentTime);
        var waypts = [];
        var gpsPts = {{gpsPts}};
        var midPts = gpsPts.slice(1,currentTime)
        for(var i=0;i<midPts.length;i+=240){
          waypts.push({
                  location : new google.maps.LatLng(gpsPts[i][0],gpsPts[i][1]),
                  stopover:true
          });
        }
        directionsService.route({
          origin: {
              location: new google.maps.LatLng(gpsPts[0][0],gpsPts[0][1])
          },
          destination: {
              location: new google.maps.LatLng(gpsPts[currentTime][0],gpsPts[currentTime][1])
          },
          waypoints: waypts,
          optimizeWaypoints: true,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
      $(document).ready(function() {
        $("#commentbtn").click(function(event){
          event.preventDefault();
          $.ajax({
            type:"POST",
            data:{
                "comment":$("#comment").val(),
                "csrfmiddlewaretoken": "{{ csrf_token }}"
            },
            url: "http://10.4.16.53:8080/{{ videofile.id }}/postcomment/",
            error: {"message": "error"},
            success: function(response, status, jqXHR) {
                  location.reload();
                },
            dataType: "json",
          });
        });
        $('.btn-outline-danger').click(function(){
          var id = this.id;
          $.ajax({
              type:"POST",
              data: {
                  "id":id,
                  "csrfmiddlewaretoken": "{{ csrf_token }}"
              },
              url: 'http://10.4.16.53:8080/'+id+'/removecomment/',
              error: {"message": "error"},
              success: function(response, status, jqXHR) {
                      if(response.success){
                          location.reload();
                      }
                  },
              dataType: "json",
          });
        });
      });
      </script>
    <script async defer
       src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqoWN9ZfV73W59oTm_WtqvX8Knc8qbJ1o&callback=initMap">
    </script>
{% endblock %}
