

{% extends 'base.html' %}

{% block content %}

{% for videofile in allVideos %}
    <a href='/{{ videofile.id }}'>{{ videofile.name }}</a>
        <td>
          <video  width='300' height='300' poster="{{ MEDIA_URL }}{{ videofile.routemaps }}" controls>
            <source src='{{ MEDIA_URL }}{{ videofile.videofile }}' type='video/mp4'>
            Your browser does not support the video tag.
          </video>
        </td>
{% endfor %}
<br><br>

<div class="pagination">
    <span class="step-links">
        {% if allVideos.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ allVideos.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ allVideos.number }} of {{ allVideos.paginator.num_pages }}.
        </span>

        {% if allVideos.has_next %}
            <a href="?page={{ allVideos.next_page_number }}">next</a>
            <a href="?page={{ allVideos.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}