

<h1>Videos</h1>
{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
<br><br>


{% for videofile in allVideos %}
    <a href='/{{ videofile.id }}'>{{ videofile.name }}</a>
        <td>
          <video width='300' height='300' controls>
          <source src='{{ MEDIA_URL }}{{ videofile.videofile }}' type='video/mp4'>
          Your browser does not support the video tag.
          </video>
        </td>
{% endfor %}
<br><br>