<!-- templates/base.html -->
{% load staticfiles %}

<html>
<head>
<head>
    <meta charset="utf-8">
    <title>Video App</title>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{% static 'css/master.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
</head>
<body>
  <nav class="navbar my-navbar" role="navigation" id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}"><font size="5" color= #abedd8><b>Video Portal</b></font></a>
        <ul class="nav justify-content-end">
          {% if user.is_authenticated %}
          <div class="topnav-centered">
              <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><font size="4" color= #abedd8>Search</font></button>
              </form>
          </div>
              {% if user.is_staff %}
                <li><a href="{% url 'Cyberabad:upload' %}" class="btn"><font size="4" color= #abedd8>Upload</font></a></li>
              {% endif %}
              <li>
                <div class="dropdown">
                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <font size="4" color= #abedd8>profile</font>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">{{user.username}}</a>
                    <a href="{% url 'password_change' %}" class="dropdown-item">change password</a>
                    {% if user.is_staff %}
                      <a href="{% url 'accounts:uploaded' %}" class="dropdown-item">Uploaded</a>
                    {% endif %}
                    <a href="{% url 'logout' %}" class="dropdown-item" href="#"><font size="4">Log out</font></a>
                  </div>
                </div>
              </li>
             <!-- <li><a href="{% url 'logout' %}" class="btn"><font size="4" color= #abedd8>Log out</font></a></li> -->
          {% else %}
                <li><a href="{% url 'login' %}" class="btn"><font size="5" color= #abedd8>Log in</font></a></li>
                <li><a href="{% url 'accounts:signup' %}" class="btn"><font size="5" color= #abedd8>Sign up</font></a></li>
          {% endif %}
        </ul>
    </div>
  </nav>
  <div class="container-fluid">
    {% block content %}
    {% endblock %}
  </div>  
  <footer class="footer">
    <div class="container" style="border-top: 1pt solid rgba(0, 0, 0, 0.1); text-align: center;">
      <span class="text-muted">
        &copy; Center for Visual Information Technology (CVIT), IIIT Hyderabad.
      </span>
    </div>
  </footer>
</body>
</html>